@media screen and (min-width: 1200px) {
  .container {
    width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
  }

  header .container {
    width: 1152px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .hero {
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk@2x.jpg);
    }
  }

  .hero .hero-title {
    margin-bottom: 48px;
  }

  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .element {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 112px;

    margin-bottom: 8px;

    background-color: var(--main-background-color);
    border-radius: 4px;
  }

  .benefits-section .list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }

  .benefits-section .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .benefits-section .paragraph {
    font-weight: 400;
  }

  .what-are-we-doing-section {
    display: block;
    padding-bottom: 120px;
  }

  .what-are-we-doing-section .list {
    display: flex;
  }

  .what-are-we-doing-section .item:not(:last-child) {
    margin-right: 24px;
  }

  .what-are-we-doing-section .title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;

    text-align: center;
  }

  .our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
