@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  header .container {
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;

    justify-content: start;
  }

  .nav {
    display: block;
  }

  .contacts-list {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  .nav-list {
    display: flex;
  }

  .nav-list .item:not(:last-child) {
    margin-right: 40px;
  }

  .nav-list .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;

    color: var(--main-text-color);

    cursor: pointer;

    transition: color var(--transition-time) var(--transition-effect);
  }

  .nav-list .link:hover,
  .nav-list .link:focus {
    color: var(--dark-accent-color);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
  }

  .contacts-list .link {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 1.5px;

    color: var(---secondary-text-color);

    transition: color var(--transition-time) var(--transition-effect);
  }

  .contacts-list .link:hover,
  .contacts-list .link:focus {
    color: var(--dark-accent-color);
  }

  .nav-list .index-current,
  .nav-list .portfolio-current {
    position: relative;
    color: var(--dark-accent-color);
  }

  .nav-list .index-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 48px;
    height: 4px;

    border-radius: 2px;
    background-color: var(--dark-accent-color);
  }

  .nav-list .portfolio-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 66px;
    height: 4px;

    border-radius: 2px;
    background-color: var(--dark-accent-color);
  }

  .hero {
    height: 436px;
    padding-top: 112px;
    padding-bottom: 108px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab@2x.jpg);
    }
  }

  .hero .hero-title {
    width: 496px;
    margin-bottom: 40px;

    font-size: 56px;
    line-height: 1.07;
  }

  .benefits-section .list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .benefits-section .item {
    display: inline-block;
    width: 356px;
    align-items: start;
  }

  .our-team-section {
    padding-bottom: 104px;
  }

  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .customers-section .container {
    width: 584px;
  }

  .customers-section .list {
    column-gap: 24px;
  }

  .customers-section .list li {
    width: auto;
  }

  .customers-section .link {
    width: 168px;
  }

  .footer .container {
    width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 24px;
  }

  .footer-container-1 {
    align-items: start;
  }

  .footer-container-2 {
    align-items: start;
  }

  .footer-container-3 {
    width: auto;
  }

  .footer .footer-label {
    align-items: start;
    width: auto;
    margin-bottom: 0;
  }

  .footer .form {
    flex-direction: row;
    align-items: end;
    width: 100%;
  }

  .footer .footer-label {
    margin-right: 24px;
  }

  .footer .footer-input {
    width: 264px;
  }

  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-section .container {
    width: 768px;
  }

  .portfolio-section .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list .item {
    width: auto;
  }

  .portfolio-list .link {
    width: 356px;
  }

  .tab-list {
    width: auto;
    justify-content: center;
    margin-bottom: 64px;
  }

  .tab-list .button {
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
